# Eclipse IDE: Archivos de configuracion
.classpath
.project
.settings/
 
# Maven: Archivos compilados
target/
 
# Netbeans: Archivos de configuracion
# (nbactions.xml) opcional, guarda la información de la clase main por default
nb-configuration.xml
